@import '../constants/breaks';

@mixin transition($transition)
{
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -ms-transition:     $transition;
  -o-transition:      $transition;
}
@mixin break($device: 'tablet') {

  $width: $break-tablet;

  @if $device == 'desktop' {
    $width: $break-desktop;
  }

  @media screen and (min-width: $width) {
    @content;
  }
}
